.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: pink;
  background-color: black;
}

.button {
  color: palevioletred;
}