h1 {
    color:white;
    background-color: black;
} 

div {
    background-color: salmon;
    color:black;
}

.container { text-align: center; }
.container { text-align: center; }
.container { text-align: center; }




  a {
      border: 2PX solid black;
      margin: 100px;
  }